.Meseeker {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  .up {
    padding: 0 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #064420;
    .logo {
      width: 100%;
      display: flex;
      img{
        align-self: center;
        width: 100px;
      }
    }
    .right-up {
      display: flex;
      gap: 20px;
      margin: auto 10px;
      .name {
        font-size: 20px;
        color: #e4efe7;
      }
      .rating {
        font-size: 20px;
        color: orange;
      }
    }
  }
  .Transactions {
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: none;
    
    .close {
      position: absolute;
      right: 20px;
      top: 30px;
      border-radius: 30px;
      border: 2px solid #064420;
      background-color: transparent;
      font-size: 26px;
      cursor: pointer;
    }
    .main-box {
      min-height: 80vh;
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      background-color: white;
      form {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        input{
          border: 2px solid #064420;
          border-radius: 50px;
          background-color: white;
          width: 95%;
          height: 25px;
          font-size: 19px;
          padding: 5px 20px;
          ::placeholder {
            padding: 5px 0 ;
            font-size: 19px;
        }
        }
        button{
          width: 150px;
          padding: 0 2px;
          font-size: 1.6rem;
          font-weight: 200;
          height: 40px;
          margin: 0px calc((100% - 302px) / 2);
          border-radius: 25px;
          background-color: #064420;
          border: 2px solid #fdfaf6;
          color: #fdfaf6;
          cursor: pointer;
        }
      }
      .result {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        .box {
          width: 50vw;
          background-color: #5fd068;
          padding: 50px;
          .closebtn {
            display: flex;
            
            border-radius: 30px;
            border: 2px solid #064420;
            background-color: transparent;
            font-size: 26px;
            cursor: pointer;
            color: #e4efe7;
          }
        }
      }
      .cl1 {
        width: 80%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: calc(20% / 3);
      }

      .cl2 {
        width: 80%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: calc(20% / 3);
      }
    }
  }
  .client {
    background-color: rgba($color: #000000, $alpha: 0.8);
    display: none;
    .close {
      position: absolute;
      right: 20px;
      top: 30px;
      border-radius: 30px;
      border: 2px solid #064420;
      background-color: transparent;
      font-size: 26px;
      cursor: pointer;
    }
    .main-box {
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 99vh;
      background-color: #e4efe7;
      form {
        display: flex;
        flex-direction: column;
        width: 300px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        input{
          border: 2px solid #064420;
          border-radius: 50px;
          background-color: white;
          width: 95%;
          height: 25px;
          font-size: 19px;
          padding: 5px 20px;
          ::placeholder {
            padding: 5px 0 ;
            font-size: 19px;
        }
        }
        button{
          width: 150px;
          padding: 0 2px;
          font-size: 1.6rem;
          font-weight: 200;
          height: 40px;
          margin: 0px calc((100% - 302px) / 2);
          border-radius: 25px;
          background-color: #064420;
          border: 2px solid #fdfaf6;
          color: #fdfaf6;
          cursor: pointer;
        }
      }
      .result {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        .box {
          width: 50vw;
          background-color: #5fd068;
          padding: 50px;
          .closebtn {
            display: flex;
            
            border-radius: 30px;
            border: 2px solid #064420;
            background-color: transparent;
            font-size: 26px;
            cursor: pointer;
            color: #e4efe7;
          }
        }
      }
    }
  }
  .rating {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    display: none;
    .close {
      position: absolute;
      right: 20px;
      top: 30px;
      border-radius: 30px;
      border: 2px solid #064420;
      background-color: transparent;
      font-size: 26px;
      cursor: pointer;
    }
    .main-box {
      min-height: 98vh;
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      background-color: white;

      .result {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.5);
        .box {
          width: 25vw;
          background-color: #5fd068;
          padding: 50px;
          form {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
          }
        }
      }
      .cl1 {
        width: 80%;
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: calc(20% / 3);
      }

      .cl2 {
        width: 80%;
        display: grid;
        color: #000000;
        grid-template-columns: 20% 20% 20% 20%;
        gap: calc(20% / 3);
      }
    }
  }
  .main-seeker {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;
    width: 100vw;

    .btns {
      display: flex;
      justify-content: center;
      gap: 40px;
      button {
        height: 35px;
        padding: 3px 8px;
        background-color: #e4efe7;
        border: 2px solid #064420;
        border-radius: 25px;
        cursor: pointer;
        color: #064420;
        font-weight: 400;
        font-size: 20px;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      margin: 30px auto;
      gap: 10px;
      width: 601px;
    }
  }
}
